<meta charset="UTF-8"/>
{% extends "base.html" %}
{% load impressoras_extras %}
{% load staticfiles %}
{%block titulo%}{{title}}{%endblock%}

{%block top%}		
		<h1>Faça Login</h1>
{%endblock%}

{%block menu%}
	{% if request.session.menu%}
		{%for item in request.session.menu%}
			{% if item == itemselec %}
				<li> 
					<a href="/{{ request.session.url|get_at_index:forloop.counter0 }}">
						<div class="item-menu-selec">
							<img src="{% static 'images/'%}{{request.session.img|get_at_index:forloop.counter0}}"  alt="" />
							<p>{{item}}</p>
						</div>
					</a>
				</li>
			{%else%}
				<li> 
					<a href="/{{ request.session.url|get_at_index:forloop.counter0 }}">
						<div class="item-menu">
							<img src="{% static 'images/'%}{{request.session.img|get_at_index:forloop.counter0}}"  alt="" />
							<p>{{item}}</p>
						</div>
					</a>
				</li>
			{%endif%}
		{%endfor%}
	{%endif%}
{%endblock%}
	
{%block conteudo%}
	{% if request.session.userl %}
		<meta http-equiv="refresh" content="0; url=/jasmine/">
	{% else %}
		<div class="card">
			<div class="Erro-form">
		   		{% if err %}
		   			{{err}}
		   		{%endif%}
		   	</div>
			<img src="{% static 'images/login.png' %}" alt="" />
			<h1>Faça Login</h1>
			<br>
			<div class="formulario">
				<form method="post" action="/jasmine/login/"> {%csrf_token%}
			 		{{form.as_p}}
				   	<p><input type="submit" name="commit" value="Entrar" id="botao" ></p>
				</form>
			</div>
		</div>
	{%endif%}
{%endblock%}