{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
		<link rel="icon" href="{% static 'images/favicon.ico' %}" />
		<title>{%block titulo%}{%endblock%}</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" media = "print" href="{% static 'css/print.css' %}">
		<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
		<script src="{% static 'js/charts.js' %}"></script>

        <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
		
		<script src="{% static 'js/jquery.min.js' %}"></script>	
		<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>	
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		
		{%block head%}
		{%endblock%}
	</head>
	
	<body>
		<div class="bar-top">
			{%block top%}
				
			{%endblock%}
		</div>
		
		<a href="{% url 'home' %}">
			<div class="header">
				<img alt="" src="{% static 'images/IFTO.jpg' %}">
			</div>
		</a>
		<div class="menu">
			<input type="checkbox" id="control-nav" />
			<label for="control-nav" class="control-nav"></label>
			<label for="control-nav" class="control-nav-close"></label>
			<div class="conteiner-menu">
				<nav>
					<ul>
						{%block menu%}
						
						{%endblock%}
					</ul>
				</nav>
			</div>
		</div>
		
		<div class="container-geral">
			{%block conteudo%}
				
			{%endblock%}
		</div>
		
		<div class="footer">
			CGTI - IFTO - Campus de Paraíso do Tocantins
		</div>
	</body>
</html>