<meta charset="UTF-8"/>
{% extends "base.html" %}
{% load impressoras_extras %}
{% load staticfiles %}
{%block titulo%}{{title}}{%endblock%}

{%block top%}
    {% if request.session.nome%}
        <h1>{{request.session.nome}}</h1>
        <a href="{% url 'logout' %}"><h2>Sair</h2></a>
    {%endif%}
{%endblock%}

{%block menu%}
	{% if not request.session.userl %}
		<meta http-equiv="refresh" content="0; url={% url 'login' %}">
	{%else%}
		{% if request.session.menu%}
			{%for item in request.session.menu%}
				{% if item == itemselec %}
					<li> 
						<a href="/{{ request.session.url|get_at_index:forloop.counter0 }}">
							<div class="item-menu-selec">
								<img src="{% static 'images/'%}{{request.session.img|get_at_index:forloop.counter0}}"  alt="" />
								<p>{{item}}</p>
							</div>
						</a>
					</li>
				{% elif item == 'ADMINISTRAÇÃO' %}
					<li>
						<div class="dropdown-menu">
							<a href="/{{ request.session.url|get_at_index:forloop.counter0 }}">
								<div class="item-menu">
									<img src="{% static 'images/'%}{{request.session.img|get_at_index:forloop.counter0}}"  alt="" />
									<p>{{item}}</p>							
								</div>
							</a>
							<div class="dropdown-content-menu">
								<div class="dropdown-content-item-menu"><img src="{% static 'images/admin24.png' %}"><a onclick="mostrar('modal_fullscreen')" href="{% url 'administracao_digitalizacoes' %}">Conf. de Digitalizações</a></div>
								<div class="dropdown-content-item-menu"><img src="{% static 'images/admin24.png' %}"><a onclick="mostrar('modal_fullscreen')" href="{% url 'administracao_ad' %}">Conf. do Active Directory</a></div>
								<div class="dropdown-content-item-menu"><img src="{% static 'images/admin24.png' %}"><a onclick="mostrar('modal_fullscreen')" href="{% url 'administracao_tutoriais_add' %}">Criar Tutorial</a></div>
								<div class="dropdown-content-item-menu"><img src="{% static 'images/admin24.png' %}"><a onclick="mostrar('modal_fullscreen')" href="{% url 'administracao_logs_view' %}">Visualizador de Logs</a></div>
							</div>
						</div>
					</li>
				{%else%}
					<li> 
						<a href="/{{ request.session.url|get_at_index:forloop.counter0 }}">
							<div class="item-menu">
								<img src="{% static 'images/'%}{{request.session.img|get_at_index:forloop.counter0}}"  alt="" />
								<p>{{item}}</p>
							</div>
						</a>
					</li>
				{%endif%}
			{%endfor%}
		{%endif%}
	{%endif%}
{%endblock%}
	
{%block conteudo%}
	{% if not request.session.userl %}
		<meta http-equiv="refresh" content="0; url={% url 'login' %}">
	{% else %}
		<div class="card">
			<img src="{% static 'images/user.png' %}" alt="" />
			<h1>Top 5 Usuários</h1>
			
			<div>
				<canvas id="GraficoDonut" style="width:100%;"></canvas>
	            <script type="text/javascript">
	
	                var options = {
	                    responsive:true                 
	                };
	                
	                var data = [                            
						{%for item in top_users%}
		                    {             
		                    	value: {{item.soma|split1000}},
		                        color:"{{cores_primarias|get_at_index:forloop.counter0}}",
		                        highlight: "{{cores_secundarias|get_at_index:forloop.counter0}}",
		                        label: "{{item.user}}"
		                    },
	                    {%endfor%}
	                ]
	            </script>
			</div>
			<table>
				<tbody>
					<tr>
						<td><b>Usuário</b></td>
						<td><b>Impressões</b></td>
					</tr>
					{%for item in top_users%}
						<tr>
                            <td><a href="{% url 'relatorios_impressoes' user_u=item.user printer_u=' ' host_u=' ' %}" >{{item.user}}</a></td>
							<td>{{item.soma|split1000}}</td>
						</tr>
					{%endfor%}
				</tbody>
			</table>
		</div>

		<div class="card">
			<img src="{% static 'images/printer.png' %}" alt="" />
			<h1>Top 5 Impressoras</h1>

			<div>
				<canvas id="GraficoDonut1" style="width:100%;"></canvas>
	            <script type="text/javascript">
	                var options1 = {
	                    responsive:true
	                };
	                var data1 = [
						{%for item in top_printers%}
							{
		                    	value: {{item.soma|split1000}},
		                        color:"{{cores_primarias|get_at_index:forloop.counter0}}",
		                        highlight: "{{cores_secundarias|get_at_index:forloop.counter0}}",
		                        label: "{{item.printer}}"
		                    },
						{%endfor%}
	                 ]
	            </script>
			</div>
			<table>
				<tbody>
					<tr>
						<td><b>Impressora</b></td>
						<td><b>Impressões</b></td>
					</tr>
					{%for item in top_printers%}
						<tr>
                            <td><a href="{% url 'relatorios_impressoes' user_u=' ' printer_u=item.printer host_u=' ' %}" >{{item.printer}}</a></td>
							<td>{{item.soma|split1000}}</td>
						</tr>
					{%endfor%}
				</tbody>
			</table>
		</div>
		
		<div class="card">
			<img src="{% static 'images/host.png' %}" alt="" />
			<h1>Top 5 IPs</h1>
			
			<div>
				<canvas id="GraficoDonut2" style="width:100%;"></canvas>
	            <script type="text/javascript">
	
	                var options2 = {
	                    responsive:true                    
	                };
	                
	                var data2 = [
						{%for item in top_hosts%}
		                    {             
		                    	value: {{item.soma|split1000}},
		                        color:"{{cores_primarias|get_at_index:forloop.counter0}}",
		                        highlight: "{{cores_secundarias|get_at_index:forloop.counter0}}",
		                        label: "{{item.host}}"
		                    },
	                    {%endfor%}
	                ]
	                window.onload = function(){
	                	var ctx = document.getElementById("GraficoDonut").getContext("2d");
	                    var PizzaChart = new Chart(ctx).Doughnut(data, options);

	                    var ctx1 = document.getElementById("GraficoDonut1").getContext("2d");
	                    var PizzaChart1 = new Chart(ctx1).Doughnut(data1, options1);
	
	                    var ctx2 = document.getElementById("GraficoDonut2").getContext("2d");
	                    var PizzaChart2 = new Chart(ctx2).Doughnut(data2, options2);
	                }
	            </script>
			</div>
			<table>
				<tbody>
					<tr>
						<td><b>IP</b></td>
						<td><b>Impressões</b></td>
					</tr>
					{%for item in top_hosts%}
						<tr>
                            <td><a href="{% url 'relatorios_impressoes' user_u=' ' printer_u=' ' host_u=item.host %}" >{{item.host}}</a></td>
							<td>{{item.soma|split1000}}</td>
						</tr>
					{%endfor%}
				</tbody>
			</table>			
		</div>
	{%endif%}

    <script>
        function mostrarocultar(mostrar, ocultar){
            $("#"+mostrar).show(500);
            document.getElementById(ocultar).style.display = "none";
        }
        function ocultarmostrar(mostrar, ocultar){
            $("#"+ocultar).hide(500);
            $("#"+mostrar).show(500);
        }
        function  mostrar(ID){
            document.getElementById(ID).style.display = "block";

        }
        function  ocultar(ID){
            document.getElementById(ID).style.display = "none";
            $("#"+ID).hide("slow");
        }
    </script>

    {% if messages %}
        <div class="msg-popup-container">
            {% for message in messages %}
                <div id="{{ forloop.counter0 }}" class="msg-popup {{ message.tags }}">
                    <img src="{% static 'images/'%}{{ message.tags }}.png" alt="" width="70" height="70"/>
                    <p>{{ message }}</p>
                    <a onclick="ocultar('{{ forloop.counter0 }}')">x</a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{%endblock%}